[run]
branch = True
parallel = True
source = twisted
omit =
    .tox/*/tmp/_trial_temp/*

[paths]
source=
   src/twisted
   */site-packages/twisted
   *\site-packages\twisted

[report]
precision = 2
ignore_errors = True
exclude_lines =
    if TYPE_CHECKING
    \s*\.\.\.$
    raise NotImplementedError
