#
# This is the Travis-CI configuration.
#
# The actual dependency installation and test execution is done via tox as a
# way to share the same process between Travis-CI and Buildbot.
#
language: python
dist: xenial


# Only run tests on push on a few branches.
# Test on PR should be execute for all branches and forks.
branches:
  only:
  - trunk
  - /^release-.*$/


env:
  global:
    - TRIAL_REPORTER=text


matrix:
  include:
    - services:
        - docker
      env: PIP=pip TOXENV=wheels
    - python: 2.7
      env: TOXENV=py27-alldeps-withcov-posix,codecov-publish
    - python: 2.7
      env: TOXENV=py27-nodeps-withcov-posix,codecov-publish
    - python: 3.5
      env: TOXENV=py35-alldeps-withcov-posix,codecov-publish
    - python: 3.6
      env: TOXENV=py36-alldeps-withcov-posix,codecov-publish
    - python: 3.7
      env: TOXENV=py37-alldeps-withcov-posix,codecov-publish
    - python: 3.5
      env: TOXENV=lint
    # We need a builder without IPv6. This is going to be slower than all the
    # others, but that's ok.
    - python: 3.6
      env: TOXENV=py36-alldeps-withcov-posix,codecov-publish DISABLE_IPV6=yes

addons:
  apt:
    packages:
    - libssl-dev
    - libssl1.0.0


cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.pyenv


install:
  - ./.travis/install.sh tox


# FIXME: https://twistedmatrix.com/trac/ticket/8373
# By default, Travis only clones one branch.
# Some tests require the presence of the `trunk` branch so here we are, also
# fetching `trunk` for each test.
before_script:
  - git remote set-branches --add origin trunk
  - git fetch origin trunk


# Run tox from the created virtualenv.
script:
  - ./.travis/run.sh
