# Twisted - Distutils distribution files
#
# Copyright (c) 2001 by Twisted Matrix Laboratories
# All rights reserved, see LICENSE for details.
#
# $Id: MANIFEST.in,v 1.4 2001/07/10 21:49:43 jh Exp $

include CREDITS LICENSE README
include MANIFEST.in

recursive-include bin *
recursive-include doc *.html
recursive-include doc/img *
recursive-include pyunit *.py
recursive-include static *

global-exclude */CVS/*
