# Twisted - Distutils distribution files
#
# Copyright (c) 2001 by Twisted Matrix Laboratories
# All rights reserved, see LICENSE for details.
#
# $Id: MANIFEST.in,v 1.2 2001/07/09 18:35:11 jh Exp $

include CREDITS LICENSE QUICKSTART
include MANIFEST.in TwistedLogo.bmp

recursive-include bin *
recursive-include doc *.html
recursive-include doc/img *
recursive-include pyunit *.py
recursive-include static *

global-exclude */CVS/*
