<html>
    <head view="style">
        <title>add link</title>
    </head>
    <body bgcolor="white">
        <div view="menu" model="menudata"/>
            <table id="Content" class="Content" >
                <form method='post' name='addlink' action='AddLink/submit'>
                <input type='hidden' name='submit' value='submitted'/>
                <tr>
                    <td>category</td>
                    <td><div model="categories" view="combobox"/></td>
                </tr>
                <tr>
                    <td>name</td>
                    <td><div model="linkname" view="textbox"/></td>
                </tr>       
                <tr>
                    <td>url value</td>
                    <td><div model="url" view="textbox"/></td>
                </tr>
                <tr>
                    <td><input type='submit' value='submit'/></td>
                    <td><input type='button' value='cancel'/></td>
                </tr>
                </form>
            </table>
    </body>
</html>
