<html>
    <head>
        <title>Lets Go!</title>
        <style type="text/css" media="all"> @import url("twolist.css");</style>
    </head>
    <body>
        <div id="Menu">
            <a href="docs.html">Links and docs</a>
            <a href="twisted.html">Twisted experiments</a>
            <a href="http://localhost/doc/python2.3/html/index.html">Python 2.3 Main Docs</a>
        </div>
        <div id="Content">
            <h4><a href="docs.html">Links and docs</a>
            <ul>
                <li><a href="http://www.google.com">Goooooogle</a></li>
                <li><a href="http://localhost/doc/python2.3/html/index.html">Python 2.3 Main Docs</a></li>
                <li><a href="http://localhost/doc/python2.3/html/lib/index.html">Python 2.3 Lib Docs</a></li>
                <li><a href="http://localhost/doc/twisted-doc/api/index.html">Twisted API</a></li>
                <li><a href="http://localhost/doc/twisted-doc/howto/index.xhtml">Twisted Howto</a></li>
                <li><a href="http://localhost/cgi-bin/man/man2html">Linux Manual Pages</a></li>
                <li><a href="http://localhost/doc/">Linux Documentation</a></li>
                <li><a href="http://localhost/doc/zsh-doc/html/zsh.html">Zsh Documentation</a></li>
            </ul>
        </div>
    </body>
</html>
