
BODY
{
  margin-left: 2em;
  margin-right: 2em;
  border: 0px;
  padding: 0px;
  font-family: sans-serif;
  }


PRE
{
  padding: 5px;
  font-family: Neep Alt, Courier New, Courier;
  font-size: 12pt;
  border: thin black solid;
}


PRE.shell
{ 
  background-color: #ffffdd;
}

PRE.python
{
  background-color: #dddddd;
}

PRE.python-interpreter
{
  background-color: #ddddff;
}


HR
{
  display: inline;
  }

UL
{
  padding: 0px;
  margin: 0px;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1em;
  }

LI
{
  padding: 2px;
  }
