
BODY
{
  margin-left: 2em;
  margin-right: 2em;
  border: 0px;
  padding: 0px;
  font-family: sans-serif;
  }


PRE
{
  padding: 1em;
  font-family: Neep Alt, Courier New, Courier;
  font-size: 12pt;
  border: thin black solid;
}


.shell
{ 
  background-color: #ffffdd;
}

.python
{
  background-color: #dddddd;
}

.python-interpreter
{
  background-color: #ddddff;
}

.py-src-comment
{
  color: #1111CC
}

.py-src-keyword
{
  color: #3333CC;
  font-weight: bold;
}

.py-src-parameter
{
  color: #000066;
  font-weight: bold;
}

.py-src-identifier
{
  color: #CC0000
}

.py-src-string
{
  color: #115511
}

HR
{
  display: inline;
  }

UL
{
  padding: 0px;
  margin: 0px;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1em;
  }

LI
{
  padding: 2px;
  }
