/*
 * Originally stolen from http://diveintopython.org
 * - R. Sridhar
 */

dl p.first {
 margin: 0px;
}

body {
  background-color: white;
  font-family: "Book Antiqua", Georgia, Palatino, Times, "Times New Roman", serif;
  font: normal 13px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
  line-height: 145%;
}

h1, h2, h3, h4, h5, h6, p#tagline, #menu, .Footer, #breadcrumb {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Tahoma, "Trebuchet MS", Verdana, Lucida, Geneva, Helvetica, sans-serif;
}

.titlepage h1 {
  margin-top: 1em;
}

h1 {
  font-size: 180%;
  background-color: white;
  color: maroon;
  text-shadow: 2px 2px 2px #990000;
}

h1 a {
  background-color: white;
  color: maroon;
  text-decoration: none;
}

h2 {
  margin-top: 1em;
  font-size: 140%;
  text-shadow: 2px 2px 2px #999999;
}

h3 {
  margin-top: 1em;
  font-size: 100%;
}

label, .divider {
  display: none;
}

#Header {
  border-bottom: 1px solid maroon;
}

p#tagline {
  margin: 3px 0 6px 2px;
  font-size: 90%;
  font-weight: bold;
  background-color: white;
  color: maroon;
}

#breadcrumb {
  font-size: 90%;
}

#navigation {
  font-size: 90%;
}

.thispage {
  font-weight: bold;
}

.Footer {
  font-size: 90%;
  border-top: 1px solid maroon;
  background-color: white;
  color: maroon;
  width: 85%;
}

table.Footer {
  margin-top: 1em;
}

#breadcrumb {
  padding: 0 0 1em 2px;
}

.tip, .note, .warning, .caution, .important, .footnote {
  margin: 1em 2em 1em 2em;
}

.furtherreading {
  margin-top: 1em;
}

.screen, .programlisting, .example table {
  margin: 1em 1em 0 1em;
  padding: 0;
}

.example table {
  margin-bottom: 1em;
}

.toc li {
  list-style: none;
}

/* ----- Python code syntax coloring ----- */
pre {
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 margin: 1em 1.75em;
 padding: .25em;
 overflow: auto;
}
.computeroutput, .traceback, .pykeyword, .pystring, .pycomment, .pyfunction, .pyclass {
  background-color: white;
}

.pykeyword, .pyfunction, .pyclass {
  font-weight: bold;
}

.computeroutput {
  color: teal;
}

.traceback {
  color: red;
}

.pykeyword {
  color: navy;
}

.pystring {
  color: olive;
}

.pycomment {
  color: green;
  font-style: italic;
}

.pyfunction {
  color: teal;
}

.pyclass {
  color: blue;
}

/* ----- home page ----- */
#wrapper {
  float: left;
  width: 66%;
  border: 0;
  background-color: white;
  color: #222;
  margin: 1em 2em 0 0;
}

#menu {
  font-size: 90%;
  margin-top: 1.5em;
}

#menu h2 {
  background-color: white;
  color: maroon;
}
  
#menu ul {
  list-style: none;
}

.selfad {
  padding: 5px;
  background-color: #ccc;
  color: #222;
  border: 1px solid #222;
}

.selfad p {
  font-family: Tahoma, sans-serif;
  font-size: 90%;
  margin: 10px;
  line-height: 140%;
}

#sponsoredlinks {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar a { 
    font-size: 14px; margin-right: 25px;
}

.right { z-index: 99; position: absolute; right: 30px; }

.docTitle { font-size: 20px; color: gray; }

.directoryHeader { font-weight: bold;}

.genNote { position: absolute; z-index: 99; right: 30px; font-style: italic;}

.title { display: none; }

