[run]
branch = True
parallel = True
source = iocpreactor/src/iocpreactor

[paths]
source=
   iocpreactor/src/iocpreactor
   build/*/lib/python*/site-packages/iocpreactor
   build/*/Lib/site-packages/iocpreactor
   build/pypy*/site-packages/iocpreactor

[report]
precision = 2
ignore_errors = True
