Source: twisted
Section: net
Priority: extra
Maintainer: Moshe Zadka <moshez@debian.org>
Build-Depends: python2.2-dev, python2.3-dev, fortune-mod, python
Standards-Version: 3.5.7

Package: python-twisted
Architecture: all
Depends: python2.3-twisted
Recommends: python-gtk
Description: Event-based framework for internet applications (dummy package)
 This is a dummy package that depends on the twisted library for the
 default version of Python.
 .
 It replaces the "twisted" package, which was non-policy compliant.

Package: python2.2-twisted
Architecture: all
Depends: python2.2, python2.2-twisted-bin
Suggests: python2.2-pyopenssl, twisted-doc, python2.2-twisted-conch
Replaces: python2.1-twisted
Recommends: python2.2-tk
Conflicts: twisted (<< 0.99.0)
Description: Event-based framework for internet applications
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This version is usable with python2.2

Package: python2.2-twisted-bin
Architecture: any
Depends: ${shlibs:Depends}, python2.2
Conflicts: python2.2-twisted (<<0.18.1)
Description: Event-based framework for internet applications
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This package contains the architectures specific files for python2.2-twisted

Package: python2.3-twisted
Architecture: all
Depends: python2.3, python2.3-twisted-bin
Suggests: python2.3-pyopenssl, twisted-doc, python2.3-twisted-conch
Recommends: python2.3-tk
Conflicts: python2.2-twisted (<= 1.0.7-1)
Provides: twisted
Description: Event-based framework for internet applications
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This version is usable with python2.3

Package: python2.3-twisted-bin
Architecture: any
Depends: ${shlibs:Depends}, python2.3
Description: Event-based framework for internet applications
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This package contains the architectures specific files for python2.3-twisted

Package: twisted-doc
Architecture: all
Suggests: twisted
Recommends: www-browser | postscript-viewer | pdf-viewer, twisted-doc-api
Description: The official documentation of Twisted
 This contains various HOWTOs and overviews in various formats

Package: twisted-doc-api
Architecture: all
Depends: twisted-doc
Description: The auto-generated API docs of Twisted
 Epydoc-generated HTML API docs of Twisted classes, modules and functions.

Package: twisted-quotes
Architecture: all
Suggests: twisted
Depends: fortune-mod
Description: Quotes from the Twisted development team
 Quotes about programming, politics and anything else. Gathered by the
 Twisted development team from IRC and e-mail.

Package: python2.2-twisted-conch
Architecture: all
Depends: python2.2, python2.2-twisted, python2.2-crypto
Conflicts: python2.2-twisted (<=1.0.0-2)
Description: The Twisted SSH Implementation (for Python 2.2)
 A client/server implementation of the SSH protocol, using the
 twisted framework
 . 
 This version is usable with python2.2

Package: python2.3-twisted-conch
Architecture: all
Depends: python2.3, python2.3-twisted, python2.3-crypto
Conflicts: python2.3-twisted (<= 1.0.0-2), python2.2-twisted (<= 1.0.7-1)
Description: The Twisted SSH Implementation (for Python 2.3)
 A client/server implementation of the SSH protocol, using the
 twisted framework
 . 
 This version is usable with python2.3

Package: python-twisted-conch
Architecture: all
Depends: python2.2-twisted-conch
Provides: conch
Description: The Twisted SSH Implementation (default python version)
 A client/server implementation of the SSH protocol, using the
 twisted framework
