Source: twisted
Section: net
Priority: extra
Maintainer: Moshe Zadka <moshez@debian.org>
Build-Depends: python2.1-dev, python2.2-dev, python2.3-dev
Build-Depends-Indep: fortune-mod
Standards-Version: 3.5.7

Package: twisted
Depends: python2.1-twisted
Architecture: all
Description: Event-based framework for internet applications. (transitional)
 This is a dummy package, supplying a sane upgrade path.
 .
 Since some packages have versioned dependency on twisted, this cannot
 be done via Provides:

Package: python-twisted
Architecture: all
Depends: python2.2-twisted
Recommends: python-gtk
Description: Event-based framework for internet applications. (dummy package)
 This is a dummy package that depends on the twisted library for the
 default version of Python.
 .
 It replaces the "twisted" package, which was non-policy compliant.

Package: python2.1-twisted
Architecture: all
Depends: python2.1, python2.1-twisted-bin
Suggests: python2.1-pyopenssl, twisted-doc
Replaces: twisted
Description: Event-based framework for internet applications. (Python 2.1)
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This version is usable with Python 2.1.

Package: python2.1-twisted-bin
Architecture: any
Depends: ${shlibs:Depends}, python2.1
Replaces: twisted
Conflicts: python2.1-twisted (<< 0.18.1)
Description: Event-based framework for internet applications
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This package contains the architectures specific files for python2.1-twisted

Package: python2.2-twisted
Architecture: all
Depends: python2.2, python2.2-twisted-bin
Suggests: python2.2-pyopenssl, twisted-doc
Description: Event-based framework for internet applications.
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This version is usable with python2.2

Package: python2.2-twisted-bin
Architecture: any
Depends: ${shlibs:Depends}, python2.2
Conflicts: python2.2-twisted (<<0.18.1)
Description: Event-based framework for internet applications
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This package contains the architectures specific files for python2.2-twisted

Package: python2.3-twisted
Architecture: all
Depends: python2.3, python2.3-twisted-bin
Suggests: python2.3-pyopenssl, twisted-doc
Description: Event-based framework for internet applications.
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This version is usable with python2.3

Package: python2.3-twisted-bin
Architecture: any
Depends: ${shlibs:Depends}, python2.3
Description: Event-based framework for internet applications
 It includes a web server, a telnet server, a multiplayer RPG engine, a 
 generic client and server for remote object access, and APIs for creating 
 new protocols.
 . 
 This package contains the architectures specific files for python2.3-twisted

Package: twisted-doc
Architecture: all
Suggests: twisted
Description: The official documentation of Twisted.
 This contains various HOWTOs, overviews and automatically generated
 API documentation.

Package: twisted-quotes
Architecture: all
Suggests: twisted
Depends: fortune-mod
Description: Quotes from the Twisted development team
 Quotes about programming, politics and anything else. Gathered by the
 Twisted development team from IRC and e-mail.
