#!/usr/bin/make -f

versions=$(shell grep '^Build-Depends:' debian/control | sed -e 's/^Build-Depends: //' -e 's/,//g' -e  's/-dev//g' -e 's/python//g' -e 's/fortune-mod//')

DOC=usr/share/doc

DEFAULT=2.2
DEFAULTPACKAGE=python$(DEFAULT)-twisted

indeppackages=twisted python-twisted python-twisted-conch twisted-doc \
         twisted-quotes \
         $(addsuffix -twisted $(addprefix python versions)) \
         $(addsuffix -twisted-conch $(addprefix python versions))

archpackages=$(addsuffix -twisted-bin $(addprefix python versions))

packages=$(indeppackages) $(archpackages)

build: build-stamp
build-stamp:
	set -e; for version in $(versions); \
		do /usr/bin/python$$version setup.py build; \
	done
	touch build-stamp

clean:
	rm -f build-stamp install-stamp
	rm -rf build
	find . -name "*.pyc" |xargs -r rm
	# Add here commands to clean up after the build process.
        for package in $(packages);\
		do rm -rf debian/$$package;\
	done
	rm -rf debian/files debian/substvars


install: install-stamp
install-stamp: build-stamp 

        set -e;for package in $(packages);\
		do install -d debian/$$package/DEBIAN/;\
		install -d debian/$$package/usr/share/doc/$$package/;\
		install -m 644 \
		      debian/copyright debian/$$package/${DOC}/$$packag/;\
		install -m 644 debian/changelog \
	               debian/$$package/${DOC}/$$package/changelog.Debian;\
		gzip -9 debian/$$package/${DOC}/$$package/changelog.Debian;\
	done

	set -e; for version in $(versions); \
		do package=python$$version-twisted;\
		rm -rf debian/$package;\
		/usr/bin/python$$version setup.py install \
                   --no-compile --root debian/$$package; \
		install -d debian/$$package/usr/share/man/man1;\
		install -d debian/$$package/usr/lib/menu/;\
		install -d debian/$$package/usr/bin/;\
		install -m 644 ChangeLog debian/$$package/$$doc/changelog;\
		gzip -9 debian/$$package/$$doc/changelog;\
		install -m 644 TODO README CREDITS debian/$$package/$$doc/;\
		set -e;for file in debian/$$package/usr/bin;\
			do sed "1s|.*|#!/usr/bin/python$$version" $$file >\
			   $$file$$version;\
			rm $$file;\
			chmod 755 $$file$$version;\
		done;\
		set -e;for file in doc/man/*.1;\
    			target=`basename $$file .1`$$version.1;\
			install -m 644 $$file \
			        debian/$$package/usr/share/man/man1/$$target;\
		done;\
		gzip -9 debian/$$package/usr/share/man/man1/*.1
		sed "s/@VERSION@/$$version/g" debian/python-twisted.menu.in >\
		    debian/$$package/usr/lib/menu/$$package;\
		set -e;for maint in prerm postrm postinst;\
			do sed -e "s/@VERSION@/$$version/g" \
			debian/python-twisted.$$maint.in > \
			debian/$$package/DEBIAN/$$maint;\
			chmod 755 debian/$$package/DEBIAN/$$maint;\
		done;\
	done

	set -e;for file in debian/$(DEFAULTPACKAGE)/usr/bin/*;\
		do target=`echo $$file | sed "s/$$version//"`;\
		ln -s `basename $$file` $$target;\
		ln -s `basename $$file`.1.gz \
		      debian/$(DEFAULTPACKAGE/usr/share/man/man1/`basename $$target`.1.gz;\
	done

	set -e; for version in $(versions);\
		package=python$$version-twisted;\
		binpackage=python$$version-twisted-bin;\
		for file in `find debian/python$$version-twisted -name "*.so"`;\
			do target=`echo $$file | sed 's/twisted/twisted-bin/'`;\
			if [ ! -d `dirname $$target` ]; then\
				install -d `dirname $$target`; \
			fi; \
			mv $$file $$target; \
		done; \
	done

	set -e; for version in $(versions); \
		do \
		package=python$$version-twisted-conch;\
		tpackage=python$$version-twisted;\
		dir=usr/lib/python$$version/site-packages;\
		install -d debian/$$package/$$dir/twisted/scripts; \
		install -d debian/$$package/usr/bin; \
		install -d debian/$$package/usr/share/man/man1; \
		mv debian/$$tpackage/$$dir/twisted/conch \
		   debian/$$package/$$dir/twisted/;\
		mv debian/$$tpackage/$$dir/twisted/scripts/conch.py \
		   debian/$$package/$$dir/twisted/scripts;\
		mv debian/$$tpackage/usr/bin/conch* \
		   debian/$$package/usr/bin/; \
		mv debian/$$tpackage/usr/share/man/man1/conch* \
		   debian/$$package/usr/share/man/man1/; \
		for maint in postinst prerm; \
			do sed -e "s/@VERSION@/$$version/g" \
			       -e "s/twisted/twisted-conch/"\
			       -e "/update-menus/d" \
			debian/python-twisted.$$maint.in > \
			debian/$$package/DEBIAN/$$maint;\
			chmod 755 debian/$$package/DEBIAN/$$maint;\
		done;\
	done
		

	install -d debian/twisted-doc/usr/share/doc/twisted-doc/examples
	install -d debian/twisted-doc/usr/share/doc/twisted-doc/howto
	install -d debian/twisted-doc/usr/share/doc/twisted-doc/specifications
	install -d debian/twisted-doc/usr/share/doc/twisted-doc/img
	install -d debian/twisted-doc/usr/share/doc/twisted-doc/api
	install -m 644 doc/howto/*.html \
	               debian/twisted-doc/${DOC}/twisted-doc/howto/
	cp -ar doc/howto/listings/ debian/twisted-doc/${DOC}/twisted-doc/howto/
	install -m 644 doc/specifications/*.html \
	               debian/twisted-doc/${DOC}/twisted-doc/specifications/
	install -m 644 doc/img/*.png debian/twisted-doc/${DOC}/twisted-doc/img/
	install -m 644 doc/img/*.bmp debian/twisted-doc/${DOC}/twisted-doc/img/
	cp -ar doc/api/* debian/twisted-doc/${DOC}/twisted-doc/api/
	install -m 644  doc/examples/*.py \
	                debian/twisted-doc/${DOC}/twisted-doc/examples/

	install -m 644 debian/python-twisted.README.Debian \
	               debian/python-twisted/${DOC}/README.Debian

	install -d debian/twisted-quotes/usr/share/games/fortunes/
	install -m 644 doc/fun/Twisted.Quotes \
	          debian/twisted-quotes/usr/share/games/fortunes/twisted-quotes
	strfile debian/twisted-quotes/usr/share/games/fortunes/twisted-quotes
	touch install-stamp


binary-indep: build install
	set -e;for package in $(indeppackages);\
		do dpkg-gencontrol -isp -p$$package -Pdebian/$$package;\
		chown -R root.root debian/$$package;\
		chmod -R go=rX debian/$$package;\
		dpkg --build debian/$$package ..;\
	done

binary-arch: build install
	find debian -name "*.so" | xargs -n 1 strip --remove-section=.comment \
                                                    --remove-section=.note \
	                                            --strip-unneeded
	find debian -name "*.so" | xargs -n 1 dpkg-shlibdeps
	set -e;for package in $(archpackages);\
		do dpkg-gencontrol -isp -p$$package -Pdebian/$$package;\
		chown -R root.root debian/$$package;\
		chmod -R go=rX debian/$$package;\
		dpkg --build debian/$$package ..;\
	done

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
