/* Trac CSS */
body {
 background: #fff;
 color: #000;
 margin: 0; /* Modified */
 padding: 0;
}
body, th, td {
    font-family: "Helvetica Neue", "Bitstream Vera Sans", "Helvetica", "Arial", sans-serif;
}
hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }
address { font-style: normal }
img { border: none; }

body { font-size:81.25%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; padding:1.45833em 0; }
h2 { font-size:1.33333em; padding:1.25em 0; }
h3 { font-size:1.16667em; padding:1.51785em 0; }

h1, h2, h3, h4 {
    color: #83A501;
}
.underline { text-decoration: underline }
ol.loweralpha { list-style-type: lower-alpha }
ol.upperalpha { list-style-type: upper-alpha }
ol.lowerroman { list-style-type: lower-roman }
ol.upperroman { list-style-type: upper-roman }
ol.arabic     { list-style-type: decimal }

tt,
pre {
    /* Workaround too-small monospace text in everything but IE(!). */
    font-family: monospace, monospace;
}

/* Link styles */
:link {
    color: #1d61be;
}
:visited {
    color: #4a1dbe;
}
:link:active, :visited:active {
    color: #14417E;
}
:link:hover, :visited:hover {
    background-color: transparent;
    text-decoration: none;
}
h1 :link, h1 :visited ,h2 :link, h2 :visited, h3 :link, h3 :visited,
h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited {
    color: inherit;
}

/* Heading anchors */
.anchor:link, .anchor:visited {
    border: none;
    color: #d7d7d7;
    font-size: 0.8725em;
    vertical-align: text-top;
    text-decoration: none;
}
* > .anchor:link, * > .anchor:visited {
    visibility: hidden;
}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    visibility: visible;
}

@media screen {
    a.ext-link .icon {
        background: url(../extlink.gif) left center no-repeat;
        padding-left: 16px;
        display: inline-block;
        width: 0;
    }
    * html a.ext-link .icon { display: inline-block; }
}

/* Forms */
input, textarea, select { margin: 0px }
input, select { vertical-align: middle }

input[type=button],
input[type=submit],
input[type=reset] {
    background: #e0e0e0;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    padding: 0.3em 0.85em;
    font-size: 0.85em;
    font-weight: bold;
    text-transform: uppercase;
}
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
    border: none;
    padding: none;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    cursor: pointer;
    color: #444;
    border-color: #999;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
    -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus {
    outline: 0 none transparent;
    border: 1px solid transparent;
    -moz-box-shadow: 0 0 0 1px #fff inset;
    -webkit-box-shadow: 0 0 0 1px #fff inset;
    box-shadow: 0 0 0 1px #fff inset;
}
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
    background: #e5e5e5;
}

input[type=text],
input.textwidget,
textarea,
select {
    padding: 0.25em;
}

input[type=text],
input.textwidget,
textarea {
    border: 1px solid;
    border-color: #bbb #ddd #ddd #bbb;
    color: #000;
}
input[type=text]:focus,
input.textwidget:focus,
textarea:focus {
    border-color: #8bbe1d;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input[disabled],
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled] {
    background: #f6f6f6;
    border: 1px solid #e0e0e0;
    color: #999;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
fieldset {
    background: #f6f6f6;
    border: 1px solid;
    border-color: #ddd #aaa #aaa #ddd;
    padding: 0 1em 1em;
    margin: 1em 0;
}
fieldset.iefix { background: transparent; border: none; padding: 0; margin: 0 }
* html fieldset.iefix { width: 98% }
fieldset.iefix p { margin: 0 }
legend {
    color: #444;
    padding: 0 .25em;
    font-weight: bold;
    text-transform: uppercase;
}
label.disabled { color: #d7d7d7 }
form#attachfile,
.buttons {
    margin: .5em .5em .5em 0;
}
.buttons form, .buttons form div { display: inline }
.buttons input { margin: 1em .5em .1em 0 }
.inlinebuttons input { 
    font-size: 0.6875em;
    margin: 0;
    padding: 0.25em;
    background: none;
}

input[value="Save report" ],
input[value="Add attachment"],
input[name="remove"],
input[name="submit"],
input[name="save"] {
    color: #455508;
    padding: 0.6em 0.85em;
    background-color: #bce715;
    border-color: #a1c612;
}

input[value="Save report" ]:active,
input[value="Add attachment"]:active,
input[name="remove"]:active,
input[name="submit"]:active,
input[name="save"]:active {
    background: #c7f516;
}

input[value="Save report" ]:hover,
input[value="Add attachment"]:hover,
input[name="remove"]:hover,
input[name="submit"]:hover,
input[name="save"]:hover {
    color: #222;
    border-color: #6f890c;
}

/* Header */
#header hr { display: none }
#header h1 { margin: 1.5em 0 -1.5em; }
#header img { border: none; }
#header :link, #header :visited, #header :link:hover, #header :visited:hover {
 background: transparent;
 color: #555;
 border: none;
}
#header h1 :link:hover, #header h1 :visited:hover { color: #000 }

/* Quick search */
#search {
    float: right;
    padding: 0.75em 0.75em 1.35em;
    margin-right: 1.5em;
}

#search input[type=button],
#search input[type=submit],
#search input[type=reset],
#search input[type=text],
#search input.textwidget {
    background-color: #222;
    color: #ddd;
    border-color: #666;
}

#search input[type=button]:hover,
#search input[type=submit]:hover,
#search input[type=reset]:hover {
    color: #fff;
    border-color: #888;
    background-color: #2a2a2a;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.06));
    background-image:    -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.1));
    background-image:     -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.06));
    background-image:      -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.06));
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#search input[type=button]:active,
#search input[type=submit]:active,
#search input[type=reset]:active {
    background: #222;
}

#search input[type=text],
#search input.textwidget {
    border-color: #444 #666 #666 #444;
}

#search input[type=text]:focus,
#search input.textwidget:focus {
    border-color: #bce715;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#search label { display: none }

/* Navigation */
.nav h2, .nav hr { display: none }
.nav ul {
    font-size: 0.85em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.nav li {
 border-right: 0px solid #d7d7d7; /* Modified */
 display: inline;
 padding: 0 .75em;
 white-space: nowrap;
}
.nav li.last { border-right: none }

/* Main navigation bar */
#mainnav {
 background: #555;
 border: none;
 margin: 0; /* Modified */
 clear: both;
 position: relative;
 z-index: 1;
}
#mainnav ul {
    border-top: 1px solid #222;
    padding: 0.3em 0;
}
#mainnav li {
    padding: 0.3em 0;
}
#mainnav :link, #mainnav :visited {
    background: url(../dots.gif) 0 0 no-repeat;
    border: none;
    color: #eee;
    padding: 0.3em 1.6em;
}
#mainnav :link:hover, #mainnav :visited:hover {
    color: #eee;
    background-color: #444;
    z-index: -1;
}
#mainnav .active {
    position: relative;
    top: -1px;
    border: 1px solid #333;
    border-top: none;
    border-bottom: 4px solid #bce715;
}
#mainnav .active :link, #mainnav .active :visited {
    background: #444;
    border-bottom: 1px solid transparent;
    color: #eee;
    font-weight: bold;
}

#main {
    background: #fff url(../bg.png);
    clear: both;
}

/*
#content.ticket a:link, #content.ticket a:visited,
.attachment a:link, .attachment a:link,
.wiki a:link, .wiki a:visited {
    text-decoration: underline;
}
*/

#banner a:link, #banner a:visited,
#mainnav a:link, #mainnav a:visited,
#ctxtnav a:link, #ctxtnav a:visited,
.timeline a:link, .timeline a:visited {
    text-decoration: none;
}

/* Context-dependent navigation links */
#pagepath {
    padding: 0.25em 0.75em;
    padding-bottom: 0;
    font-size: 0.85em;
}
#ctxtnav {
    padding: .5em 0;
}
#ctxtnav li ul {
 background: #f7f7f7;
 color: #ccc;
 border: 1px solid;
 padding: 0;
 display: inline;
 margin: 0;
}
#ctxtnav li li { padding: 0; }
#ctxtnav li li :link, #ctxtnav li li :visited { padding: 0 1em }
#ctxtnav li li :link:hover, #ctxtnav li li :visited:hover {
 background: #bba;
 color: #fff;
}

#ctxtnav :link, #ctxtnav :visited {
	color: #555555;
	
}
#ctxtnav :link:hover, #ctxtnav :visited:hover {
	color: #999999;
}

/* Alternate links */
#altlinks { clear: both; text-align: center }
#altlinks h3 { font-size: 12px; letter-spacing: normal; margin: 0 }
#altlinks ul { list-style: none; margin: 0; padding: 0 0 1em }
#altlinks li {
 border-right: 1px solid #d7d7d7;
 display: inline;
 font-size: 11px;
 line-height: 16px;
 padding: 0 1em;
 white-space: nowrap;
}
#altlinks li.last { border-right: none }
#altlinks li :link, #altlinks li :visited {
 background-position: 0 -1px;
 background-repeat: no-repeat;
 border: none;
}
#altlinks li a.ics { background-image: url(../ics.png); padding-left: 22px }
#altlinks li a.rss { background-image: url(../xml.png); padding-left: 42px }

/* Footer */
#footer {
  clear: both;
  color: #fff;
  font-size: 0.85em;
  background: #333;
  border-top: 0.5em solid #555;
  padding: 1.5em 3em;
}
#footer :link, #footer :visited { color: #bbb; }
#footer hr { display: none }
#footer #tracpowered { border: 0; float: left }
#footer #tracpowered:hover { background: transparent }
#footer .credits p {
    margin: 0;
}

#footer .sitemeter {
    float: right;
}

#footer .credits {
    line-height: 2;
    float: left;
}

#footer .right {
    clear: both;
}

#content {
    padding: 0 4em 4em;
    position: relative;
}

#help {
 clear: both;
 color: #999;
 font-size: 90%;
 margin: 1em 0;
 text-align: right;
}
#help :link, #help :visited { cursor: help }
#help hr { display: none }

/* Page preferences form */
#prefs {
 background: #dfe9f6;
 border: 1px solid #1d61be;
 float: right;
 font-size: 87.25%;
 padding: 1em;
 position: relative;
 margin: 0 1em 1em;
}
* html #prefs { width: 26em } /* Set width only for IE */
#prefs input, #prefs select { font-size: 9px; vertical-align: middle }
#prefs fieldset {
 background: transparent;
 border: none;
 margin: .5em;
 padding: 0;
}
#prefs fieldset legend {
 background: transparent;
 color: #000;
 font-size: 9px;
 font-weight: normal;
 margin: 0 0 0 -1.5em;
 padding: 0;
}
#prefs .buttons {
    margin: 0;
    text-align: right
}

/* Version information (browser, wiki, attachments) */
#info {
    margin: 1em 0 0 0;
    background: #f7f7f0;
    border: 1px solid #83a501;
    border-collapse: collapse;
    border-spacing: 0;
    clear: both;
}
#info th, #info td { font-size: 85%; padding: 2px .5em; vertical-align: top }
#info th { font-weight: bold; text-align: left; white-space: nowrap }
#info td.message { width: 100% }
#info .message ul { padding: 0; margin: 0 2em }
#info .message p { margin: 0; padding: 0 }

/* Wiki */
.wikipage {
    margin: 0;
}

a.missing:link, a.missing:visited, span.missing { color: #998 }
a.missing:link, a.missing:visited { background: #fafaf0 }
a.missing:hover { color: #000 }
a.closed:link, a.closed:visited { text-decoration: line-through }

dl.wiki dt { font-weight: bold }
dl.compact dt { float: left; padding-right: .5em }
dl.compact dd { margin: 0; padding: 0 }

div.code, pre.wiki, pre.literal-block {
 background: #edf9c0;
 border-width: 1px 0 1px 0;
 border-style: solid;
 border-color: #bce715;
 margin: 2em;
 padding: 1em;
 overflow: auto;
}

blockquote.citation { 
    margin: -0.6em 0;
    border-left: 2px solid #1d61be;
    padding-left: 1.4em;
}
.citation blockquote.citation { border-color: #4b4; }
.citation .citation blockquote.citation { border-color: #44b; }
.citation .citation .citation blockquote.citation { border-color: #c55; }

table.wiki {
 border: 2px solid #ccc;
 border-collapse: collapse;
 border-spacing: 0;
}
table.wiki td { border: 1px solid #ccc;  padding: .1em .25em; }

.wikitoolbar {
    height: 18px;
    padding: 0.5em 0;
}
#main .wikitoolbar :link, #main .wikitoolbar :visited {
    background: transparent url(../edit_toolbar.png) no-repeat;
    border: 1px solid #bbb;
    border-radius: 0.15em;
    display: block;
    float: left;
    width: 24px;
    height: 16px;
    margin: 0 0.25em 0 0;
}
#main .wikitoolbar :link:hover, #main .wikitoolbar :visited:hover {
    background-color: transparent;
    border-color: #1d61be;
}
#main .wikitoolbar a#em { background-position: 0 0 }
#main .wikitoolbar a#strong { background-position: 0 -16px }
#main .wikitoolbar a#heading { background-position: 0 -32px }
#main .wikitoolbar a#link { background-position: 0 -48px }
#main .wikitoolbar a#code { background-position: 0 -64px }
#main .wikitoolbar a#hr { background-position: 0 -80px }
#main .wikitoolbar a#np { background-position: 0 -96px }
#main .wikitoolbar a#br { background-position: 0 -112px }

/* Styles for the form for adding attachments. */
#attachment,
#attachments {
    background: #fff;
    border-radius: 0.35em;
    padding: .5em 1em;
    border: 1px solid #d0d0d0;
    border-bottom: 2px solid #83a501;
    margin-bottom: 1.5em;
    -moz-box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.15);
}
#attachment .field { margin-top: 1.3em }
#attachment label { padding-left: .2em }
#attachment fieldset { margin-top: 2em }
#attachment fieldset .field { float: left; margin: 0 1em .5em 0 }
#attachment .options { float: left; padding: 0 0 1em 1em }
#attachment br { display: block; clear: left }
.attachment #preview { margin-top: 1em }

/* Styles for the list of attachments. */
#attachments dl.attachments {
    margin-left: 2em;
}
#attachments dt { display: list-item; }
#attachments dd { font-style: italic; margin-left: 0; padding-left: 0; }


/* Styles for tabular listings such as those used for displaying directory
   contents and report results. */
table.listing {
    clear: both;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
    background: #fff;
    -moz-box-shadow: 0 0.25em 0.15em rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0.25em 0.15em rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.25em 0.15em rgba(0, 0, 0, 0.15);
}
table.listing th {
    text-align: left;
    padding: 0;
}
table.listing thead th {
    border: none;
    border-bottom: 2px solid #164b93;
    padding: 0.8em 1em;
}
table.listing thead th :link:hover,
table.listing thead th :visited:hover {
    background-color: transparent;
}
table.listing th.asc a, table.listing th.desc a { font-weight: bold }
table.listing th.asc a, table.listing th.desc a {
 background-position: 100% 50%;
 background-repeat: no-repeat;
}
table.listing th.asc a { background-image: url(../asc.png) }
table.listing th.desc a { background-image: url(../desc.png) }
table.listing tbody td,
table.listing tbody th {
    vertical-align: middle;
}
table.listing tbody td {
    border-bottom: 1px solid #ccc;
    padding: 0.6em 1em;
}
table.listing tbody td a:hover, table.listing tbody th a:hover {
 background-color: transparent;
}
table.listing tbody tr.even { background-color: #fcfcfc }
table.listing tbody tr.odd { background-color: #f7f7f7 }
table.listing tbody tr:hover { background: #dfe9f6 !important }

/* Styles for the error page (and rst errors) */
#content.error .message, div.system-message {
    background: #fdc;
    border: 2px solid #d00;
    color: #500;
    padding: .5em;
}
#content.error pre, div.system-message pre { margin-left: 1em; overflow: auto }
div.system-message p { margin: 0; }
div.system-message p.system-message-title { font-weight: bold; }

#warning.system-message {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

/* Styles for search word highlighting */
@media screen {
 .searchword0 { background: #ff9 }
 .searchword1 { background: #cfc }
 .searchword2 { background: #cff }
 .searchword3 { background: #ccf }
 .searchword4 { background: #fcf }
}

@media print {
 #header, #altlinks, #footer, #help { display: none }
 .nav, form, .buttons form, form .buttons { display: none }
 form.printableform { display: block }
}


/* Custom */
#top_grad {
    background: #bce715;
    height: 0.35em;
}
#tab {
    color: #ffffff;
    text-align: center;
    background: #bce715;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:         linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    float: right;
    border: 0 solid #d1fd26;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 0.35em;
    padding: 1em;
    font-weight: bold;
}

#tab :link, #tab :visited {
    color: #444;
    padding: 1em;
    text-shadow: 0 1px #d1fd26;
}
#tab :link:hover, #tab :visited:hover {
    text-shadow: none;
    border-bottom: 0.5em solid #fff;
    border-radius: 0 0.35em 0 0.35em;
    background: white;
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

#banner {
    background: #444;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:    -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:     -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:      -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    float: left;
    width: 100%;
}

#header {
    float: left;
    padding: 1em;
}

#metanav {
    padding: 0.75em;
    margin-top: 0.35em;
    float: right;
}

#metanav :link, #metanav :visited {
    color: #fff;
}

#metanav :link:hover, #metanav :visited:hover {
    color: #bbb;
    border-bottom: 1px dotted #bbb;
}

#metanav ul li.first {
    color: #ccc;
}

#side_bar {
	float: right;
	background-color: #ffffff;
	padding: 0 0 0 15px;
}

#download_icon {
    position: absolute;
    right: -20px;
    top: -35px;
    z-index: 99;
}

#download {
    background: #555;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));
    border-bottom: 2px solid #bce715;
    border-radius: 0.35em;
    padding: 2em;
    position: relative;
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, .65);
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, .65);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, .65);
    margin-bottom: 3em;
    margin-right: -3em;
}

#download > p {
    margin: 0;
}

#download h1, #download h2 {
    color: #eee;
    text-shadow: 0 1px #222;
}

#download h1 {
    padding-top: 0;
}

#download h2 {
    color: #bbb;
    padding: 0;
}

#download ul {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
}

#download a:link, #download a:visited {
    display: block;
    padding: 0.25em 1em;
    margin: 0 -.5em;
    background: transparent;
    color: #bce715;
    border: none;
    text-decoration: none;
}

#download a:hover {
    background: #bce715;
    color: #444;
}

#download a.anchor {
    display: none;
}

pre.prettyprint {
    border: none !important;
    padding: 0 !important;
}

.column-layout {
    width: 100%;
    margin: 0 -4em;
}

.leftcol {
    width: 15%;
}

/* IE7 hacks. */
.leftcol {
    *display: block;
    *float: left;
}

.leftcolcol {
    padding: 1.5em;
    border-width: 0 1px 1px 0;
    margin-top: -1.25em;
    margin-right: 2em;
    border-radius: 0 0 0.35em 0;
}

.centercol {
    padding: 0 2em;
}

/* IE7 hacks. */
.centercol {
    *display: block;
    *float: left;
}

#main .twisted-sponsors a:link {
    display: block;
    border: none;
    text-align: center;
    padding: 0.5em 0;
}

#main .twisted-sponsors a.anchor:link {
    display: inline;
}

.side-panel {
    background: #eee;
    border: 1px solid #d0d0d0;
    border-radius: 0.35em;
    -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.075);
    padding: 2em;
    position: relative;
    margin-right: -3em;
}
.side-panel h2 {
    padding-top: 0;
    color: #1d61be;
    text-shadow: 0 1px #fff;
}

.twisted-news {
    margin-bottom: 3em;
}
.twisted-news > p {
    margin: 0;
}
.twisted-news .feed-updated {
    font-size: 0.75em;
    text-align: right;
}
.twisted-news .feed-entry {
    padding: 0.5em;
    margin: 0 -0.5em;
}
.twisted-news .feed-entry:nth-child(2n) {
    background: rgba(0, 0, 0, 0.05);
}

.donations p {
    margin-top: 0;
}
.donation-buttons {
    width: 210px;
    text-align: center;
}

.wikipage div.code pre {
    background: transparent;
}

.throbber {
    display: block;
    margin: auto;
}
