name: Documentation

on:
  push:
    branches: [ trunk ]
  pull_request:
    branches: [ trunk ]

jobs:
  docs:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"

    - name: pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key:
          ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml', 'setup.py',
          'setup.cfg', 'tox.ini') }}
        restore-keys: |
            ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        echo "::group::Pre-deps "
        python -m pip install --upgrade pip tox
        echo "::endgroup::"

        tox --notest -e narrativedocs,apidocs

    - name: Runner info
      uses: twisted/python-info-action@v1

    - name: Tox narrativedocs info
      uses: twisted/python-info-action@v1
      with:
        python-path: .tox/narrativedocs/*/python

    - name: Tox apidocs info
      uses: twisted/python-info-action@v1
      with:
        python-path: .tox/apidocs/*/python

    - name: Check the narrative documentation
      run: |
        tox -q -e narrativedocs

    - name: Check the API documentation
      run: |
        tox -q -e apidocs
