name: Lint

on:
  push:
    branches: [ trunk ]
  pull_request:
    branches: [ trunk ]

jobs:
  test_run:

    runs-on: ubuntu-20.04
    env:
      TOXENV: "lint,black,manifest-checker,twine"

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox
        tox --notest

    - name: Lint
      run: |
        python --version
        tox -q
