name: Run tests

on:
  push:
    branches: [ trunk ]
    tags:
      - twisted-*
  pull_request:
    branches: [ trunk ]

jobs:
  testing:
    runs-on: ubuntu-20.04
    env:
      TOXENV: "alldeps-withcov-posix,coverage-prepare,codecov-push,coveralls-push"
    strategy:
      matrix:
          python-version: [3.5, 3.6, 3.7, 3.8, 3.9, pypy3]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Display Python information
      run: |
        python --version
        python -c "import sys; print(sys.prefix)"
        python -c "import sys; print(sys.exec_prefix)"
        python -c "import sys; print(sys.executable)"
        python -c "import struct; print(struct.calcsize('P') * 8)"
        python -c "print('\nENVIRONMENT VARIABLES\n=====================\n\n')"
        python -c "import os; [ print(e,v) for (e,v) in os.environ.items() ]"

    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"

    - name: pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key:
          ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml', 'setup.py',
          'setup.cfg', 'tox.ini') }}
        restore-keys: |
            ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox
        tox --notest

    - name: Test
      run: |
        python --version
        tox -q


  # We need a builder without IPv6. This is going to be slower than all the
  # others, but that's ok.
  testing_no_ipv6:
    runs-on: ubuntu-20.04
    env:
      DISABLE_IPV6: yes
      TOXENV: "alldeps-withcov-posix,coverage-prepare,codecov-push,coveralls-push"
    strategy:
      matrix:
          python-version: [3.6]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"

    - name: pip cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key:
          ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml', 'setup.py',
          'setup.cfg', 'tox.ini') }}
        restore-keys: |
            ${{ runner.os }}-pip-

    - name: Display Python information
      run: |
        python --version
        python -c "import sys; print(sys.prefix)"
        python -c "import sys; print(sys.exec_prefix)"
        python -c "import sys; print(sys.executable)"
        python -c "import struct; print(struct.calcsize('P') * 8)"
        python -c "print('\nENVIRONMENT VARIABLES\n=====================\n\n')"
        python -c "import os; [ print(e,v) for (e,v) in os.environ.items() ]"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox
        tox --notest

    - name: Test
      run: |
        python --version
        tox -q


  pypi-publish:
    # https://github.community/t/is-it-possible-to-require-all-github-actions-tasks-to-pass-without-enumerating-them/117957/4?u=graingert
    runs-on: ubuntu-20.04
    needs: [testing]
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Test
      run: |
        python --version
        rm -rf dist/*
        tox -e release-prepare

    - name: Display structure of files to be pusehed
      run: ls -R dist/

    - name: Publish to PyPI on a new tag
      # Testing:
      # TEST_PYPI_UPLOAD_TOKEN
      # repository_url: https://test.pypi.org/legacy/
      # Prod secret: PYPI_UPLOAD_TOKEN
      if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@v1.3.1
      with:
        password: ${{ secrets.TEST_PYPI_UPLOAD_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
