parameters:

- name: platform
  type: string
  values:
  - macos
  - windows

- name: pythonVersion
  type: string
  values:
  - '2.7'
  - '3.6'
  - '3.7'

- name: windowsReactor
  type: string
  default: select
  values:
  - select
  - iocp

steps:
- task: UsePythonVersion@0
  displayName: "Use Python ${{ parameters.pythonVersion }}"
  inputs:
    versionSpec: "${{ parameters.pythonVersion }}"

- ${{ if and( eq(parameters.platform, 'windows'), startsWith(parameters.pythonVersion, '2') ) }}:
  - task: CmdLine@1
    displayName: 'Install compiler for Python 2.7'
    inputs:
      filename: choco
      arguments: 'install vcpython27 -confirm'

- script: |
   python --version
   python -c "import sys; print(sys.prefix)"
   python -c "import sys; print(sys.exec_prefix)"
   python -c "import sys; print(sys.executable)"
   python -c "import struct; print(struct.calcsize('P') * 8)"
  displayName: 'Get Python Information'

- script: 'python -m pip install -U pip setuptools tox'
  displayName: 'Update pip & install tox'

- ${{ if eq(parameters.platform, 'macos') }}:
  - script: 'python -m tox -e alldeps-withcov-posix'
    displayName: 'Run tests'

- ${{ if eq(parameters.platform, 'windows') }}:
  - script: 'python -m tox -e alldeps-withcov-windows'
    displayName: 'Run tests'
    env:
      TWISTED_REACTOR: ${{ parameters.windowsReactor }}

- script: 'python -m tox -e coverage-prepare,coveralls-push'
  displayName: 'Report coverage'
